@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .clip-bg {
    clip-path: circle(90% at 22% 0%)
  }
  .clip-bg-md {
    /* clip-path: circle(90% at 30% -140%) */
    clip-path: ellipse(75% 100% at 30% 0%);
  }
  .clip-bg-lg {
    clip-path: circle(90% at 10% 17%);
  }
}